body{
    font-family: 'Lobster', cursive;
    text-align: center;
    background-color: rgb(22, 170, 170);
}
p{
    font-family: 'Castoro Titling', cursive;
}
h3{
    font-family: 'Roboto Mono', monospace;
}
h2{
    font-family: 'Kanit', sans-serif;
}